<div class="center jumbotron ">
<h1>Welcome to MicroBlog</h1>
<h2>MicroBlog Homepage</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails-logo.svg", class: "rails-logo", alt: "Rails logo"),
'http://rubyonrails.org/' %>